In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics
from sklearn import preprocessing
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import f_regression, SelectKBest
from sklearn.cluster import DBSCAN
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression

import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd, MultiComparison

import copy
import seaborn as sns
import os
from scipy import stats
import datetime

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Skip all this - already did once

# Feature Engineering

In [4]:
path='/Users/carlyfennell/DataScience/data_bootcamp/data/'

In [5]:
# read in flights info to DataFrame
df_flights=pd.read_csv(path+'flights.csv')

/opt/anaconda3/envs/bootcamp_env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df_flights=df_flights.drop(['mkt_unique_carrier','branded_code_share','mkt_carrier','dup','dest_city_name','origin_city_name'],axis=1)

# missing data
total = df_flights.isnull().sum().sort_values(ascending=False)
percent = (df_flights.isnull().sum()/df_flights.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

missing_data.index

#clean flights and save as csv
df_flights=df_flights.drop(['no_name', 'total_add_gtime', 'longest_add_gtime', 'first_dep_time',
       'cancellation_code','cancelled', 'flights','crs_dep_time'],axis=1)

## finding latitude and longitude for all rows

In [7]:
#read in airport lat/long info Dataframe
airports=pd.read_csv(path+'airports.csv')

In [8]:
airport_all=airports.drop(['CITY','STATE','COUNTRY'],axis=1)

In [9]:
airport_all=airport_all.rename(columns={'IATA_CODE':'origin','LATITUDE':'latitude','LONGITUDE':'longitude'})

In [10]:
set_1=set(airports['IATA_CODE'].unique())
set_2=set(df_flights['origin'].unique())
missing_codes=list(set_2^set_1)

In [11]:
airport_all[airport_all['origin']=='LAX']

    origin                            AIRPORT  latitude  longitude
176    LAX  Los Angeles International Airport  33.94254 -118.40807

In [12]:
#'SLN' in missing_codes
missing_codes[14]='Salina Regional Airport'

In [115]:
len(missing_codes)

62

In [13]:
latitude=[]
longitude=[]
cit_=[]
geolocator = Nominatim(user_agent="bc_explorer")
# loop until you get the coordinates
for i in range(len(missing_codes)):
    #print(i)
    location = geolocator.geocode('{}'.format(missing_codes[i]))
    latitude.append(location.latitude)
    longitude.append(location.longitude)
    cit_.append(missing_codes[i])
    
else:
    print('none')
print('done')

none
done

In [14]:
randoms=pd.DataFrame([cit_,latitude,longitude]).T.rename(columns={0:'origin',1:'latitude',2:'longitude'})

In [15]:
airports=pd.concat([airport_all,randoms],axis=0,ignore_index=True)

## join lat/long for all rows of df_flights table based on origin

In [16]:
airports[airports['origin']=='LAX']

    origin                            AIRPORT latitude longitude
176    LAX  Los Angeles International Airport  33.9425  -118.408

In [17]:
len(list(airports['origin']))

384

In [18]:
airports=airports[airports['origin'].isin(df_flights['origin'].unique())]

In [19]:
airports[airports['origin']=='LAX']

    origin                            AIRPORT latitude longitude
176    LAX  Los Angeles International Airport  33.9425  -118.408

In [20]:
dict2=dict.fromkeys(list(airports['origin']))
for k, _ in dict2.items():
    dict2[k] = []

In [21]:
#save weather params to dictionary per api call
for param in list(dict2.keys()):
        dict2[param].append((airports[airports['origin']==param]['latitude'].values[0],airports[airports['origin']==param]['longitude'].values[0]))
        #print(param)
# #had to manually add this one
# dict2['SLN']=[(38.79083,-97.65222)]

In [23]:
set(df_flights['origin'].unique())^set(dict2.keys())

{'PGV'}

In [24]:
#had to manually add this one
dict2['PGV']=[(35.63528, -77.38528)]

In [25]:
len(dict2)

376

df_flights['origin'][0]

In [26]:
set(df_flights['dest'].unique())^set(dict2.keys())

set()

In [197]:
df_flights['origin'][5]

'SFO'

In [198]:
dict2['SFO']

[(37.619, -122.37483999999999)]

In [27]:
#dict2[df_flights['origin'][i]][0][0]
#dict2[df_flights['dest'][i]][0][1]
print(dict2[df_flights['origin'][5]][0][0])
print(dict2[df_flights['origin'][5]][0][1])
print(dict2[df_flights['dest'][5]][0][0])
print(dict2[df_flights['dest'][5]][0][1])

37.619
-122.37483999999999
33.94254
-118.40807

In [28]:
dict2['SFO']

[(37.619, -122.37483999999999)]

In [29]:
dict2['LAX']

[(33.94254, -118.40807)]

In [30]:
# this takes the newly created dictionary with airport code and lati/longi
# and adds lati/longi for each instance of that airport code in the 3 million 
# rows we have
lati=[]
longi=[]
lati_dest=[]
longi_dest=[]
for i in range(len(df_flights)):
    lati.append(dict2[df_flights['origin'][i]][0][0])
    longi.append(dict2[df_flights['origin'][i]][0][1])
    lati_dest.append(dict2[df_flights['dest'][i]][0][0])
    longi_dest.append(dict2[df_flights['dest'][i]][0][1])

15927484

In [31]:
df_flights.shape

(15927485, 36)

In [32]:
len(lati)

15927485

In [33]:
df_flights['ori_latitude']=lati
df_flights['ori_longitude']=longi
df_flights['dest_latitude']=lati_dest
df_flights['dest_longitude']=longi_dest

# optimizing datatypes in dataframe

https://www.dataquest.io/blog/pandas-big-data/

In [34]:
df_flights.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15927485 entries, 0 to 15927484
Data columns (total 40 columns):
 #   Column               Dtype
---  ------               -----
 0   fl_date              object
 1   mkt_carrier_fl_num   int64
 2   op_unique_carrier    object
 3   tail_num             object
 4   op_carrier_fl_num    int64
 5   origin_airport_id    int64
 6   origin               object
 7   dest_airport_id      int64
 8   dest                 object
 9   crs_dep_time         int64
 10  dep_time             float64
 11  dep_delay            float64
 12  taxi_out             float64
 13  wheels_off           float64
 14  wheels_on            float64
 15  taxi_in              float64
 16  crs_arr_time         int64
 17  arr_time             float64
 18  arr_delay            float64
 19  cancelled            int64
 20  cancellation_code    object
 21  diverted             int64
 22  crs_elapsed_time     float64
 23  actual_elapsed_time  float64
 24  air_time             float64
 25  flights              int64
 26  distance             int64
 27  carrier_delay        float64
 28  weather_delay        float64
 29  nas_delay            float64
 30  security_delay       float64
 31  late_aircraft_delay  float64
 32  first_dep_time       float64
 33  total_add_gtime      float64
 34  longest_add_gtime    float64
 35  no_name              float64
 36  ori_latitude         float64
 37  ori_longitude        float64
 38  dest_latitude        float64
 39  dest_longitude       float64
dtypes: float64(24), int64(10), object(6)
memory usage: 9.1 GB

In [35]:
for dtype in ['float','int','object']:
    selected_dtype = df_flights.select_dtypes(include=[dtype])
    mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
    mean_usage_mb = mean_usage_b / 1024 ** 2
    print("Average memory usage for {} columns: {:03.2f} MB".format(dtype,mean_usage_mb))

Average memory usage for float columns: 116.66 MB
Average memory usage for int columns: 110.47 MB
Average memory usage for object columns: 740.67 MB

In [36]:
# We're going to be calculating memory usage a lot,
# so we'll create a function to save us some time!
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

In [37]:
### integers
gl_int = df_flights.select_dtypes(include=['int'])
converted_int = gl_int.apply(pd.to_numeric,downcast='unsigned')
print(mem_usage(gl_int))
print(mem_usage(converted_int))
compare_ints = pd.concat([gl_int.dtypes,converted_int.dtypes],axis=1)
compare_ints.columns = ['before','after']
compare_ints.apply(pd.Series.value_counts)

### floats
gl_float = df_flights.select_dtypes(include=['float'])
converted_float = gl_float.apply(pd.to_numeric,downcast='float')
print(mem_usage(gl_float))
print(mem_usage(converted_float))
compare_floats = pd.concat([gl_float.dtypes,converted_float.dtypes],axis=1)
compare_floats.columns = ['before','after']
compare_floats.apply(pd.Series.value_counts)

1215.17 MB
258.22 MB
2916.41 MB
1458.20 MB

         before  after
float32     NaN   24.0
float64    24.0    NaN

In [38]:
### Optimize for numeric
optimized_gl = df_flights.copy()
optimized_gl[converted_int.columns] = converted_int
optimized_gl[converted_float.columns] = converted_float
print(mem_usage(df_flights))
print(mem_usage(optimized_gl))

9316.24 MB
6901.08 MB

opt_flights=optimized_gl.drop(['mkt_unique_carrier','branded_code_share','mkt_carrier','dup','dest_city_name','origin_city_name'],axis=1)

print(mem_usage(opt_flights))

In [39]:
opt_flights=copy.deepcopy(optimized_gl)

In [40]:
flight_date=opt_flights['fl_date']
opt_flights=opt_flights.drop('fl_date',axis=1)

In [41]:
gl_obj = opt_flights.select_dtypes(include=['object']).copy()
gl_obj.describe()

       op_unique_carrier  tail_num    origin      dest cancellation_code
count           15927485  15878216  15927485  15927485            269208
unique                28      6487       376       376                 5
top                   WN    N494HA       ORD       ORD                 B
freq             2713963      6868    790253    790129            142089

In [42]:
converted_obj = pd.DataFrame()
for col in gl_obj.columns:
    num_unique_values = len(gl_obj[col].unique())
    num_total_values = len(gl_obj[col])
    if num_unique_values / num_total_values < 0.5:
        converted_obj.loc[:,col] = gl_obj[col].astype('category')
    else:
        converted_obj.loc[:,col] = gl_obj[col]

In [43]:
print(mem_usage(gl_obj))
print(mem_usage(converted_obj))
compare_obj = pd.concat([gl_obj.dtypes,converted_obj.dtypes],axis=1)
compare_obj.columns = ['before','after']
compare_obj.apply(pd.Series.value_counts)

4166.95 MB
122.29 MB

          before  after
object       5.0    NaN
category     NaN    2.0
category     NaN    1.0
category     NaN    1.0
category     NaN    1.0

In [44]:
opt_flights[converted_obj.columns] = converted_obj
mem_usage(opt_flights)

'1838.71 MB'

In [45]:
opt_flights.columns

Index(['mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'dest_airport_id',
       'dest', 'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out',
       'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time',
       'arr_delay', 'cancelled', 'cancellation_code', 'diverted',
       'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'flights',
       'distance', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'first_dep_time',
       'total_add_gtime', 'longest_add_gtime', 'no_name', 'ori_latitude',
       'ori_longitude', 'dest_latitude', 'dest_longitude'],
      dtype='object')

In [49]:
dtypes = opt_flights.dtypes
dtypes_col = dtypes.index
dtypes_type = [i.name for i in dtypes.values]
column_types = dict(zip(dtypes_col, dtypes_type))
# rather than print all 161 items, we'll
# sample 10 key/value pairs from the dict
# and print it nicely using prettyprint
preview = first2pairs = {key:value for key,value in list(column_types.items())[:10]}
#import pprintpp
#pp = pp = pprint.PrettyPrinter(indent=4)
print(preview)

{'mkt_carrier_fl_num': 'uint16', 'op_unique_carrier': 'category', 'tail_num': 'category', 'op_carrier_fl_num': 'uint16', 'origin_airport_id': 'uint16', 'origin': 'category', 'dest_airport_id': 'uint16', 'dest': 'category', 'crs_dep_time': 'uint16', 'dep_time': 'float32'}

In [50]:
flight_date.shape

(15927485,)

In [51]:
opt_flights['fl_date']=flight_date

read_and_optimized = pd.read_csv('game_logs.csv',dtype=column_types,parse_dates=['date'],infer_datetime_format=True)
print(mem_usage(read_and_optimized))
read_and_optimized.head()

In [52]:
#save to .csv
opt_flights.to_csv(path+'df_flights.csv')

# Weather

In [58]:
opt_flights.columns

Index(['mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'dest_airport_id',
       'dest', 'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out',
       'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time',
       'arr_delay', 'cancelled', 'cancellation_code', 'diverted',
       'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'flights',
       'distance', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'first_dep_time',
       'total_add_gtime', 'longest_add_gtime', 'no_name', 'ori_latitude',
       'ori_longitude', 'dest_latitude', 'dest_longitude', 'fl_date'],
      dtype='object')

In [116]:
opt_flights[opt_flights['ori_latitude'].isnull()]['origin'].unique()

['ECP', 'PBG']
Categories (2, object): ['ECP', 'PBG']

In [117]:
opt_flights[opt_flights['dest_latitude'].isnull()]['dest'].unique()

['ECP', 'PBG']
Categories (2, object): ['ECP', 'PBG']

'ECP' 30.3549° N, -85.7995
'PBG' 44.6521° N, -73.4679

In [118]:
#adding lat/lon for ECP
opt_flights.loc[opt_flights['origin']=='ECP', 'ori_latitude']=30.3549
opt_flights.loc[opt_flights['origin']=='ECP','ori_longitude']=-85.7995
opt_flights.loc[opt_flights['dest']=='ECP','dest_latitude']=30.3549
opt_flights.loc[opt_flights['dest']=='ECP','dest_longitude']=-85.7995

In [119]:
#adding lat/lon for PBG
opt_flights.loc[opt_flights['origin']=='PBG', 'ori_latitude']=44.6521
opt_flights.loc[opt_flights['origin']=='PBG','ori_longitude']=-73.4679
opt_flights.loc[opt_flights['dest']=='PBG','dest_latitude']=44.6521
opt_flights.loc[opt_flights['dest']=='PBG','dest_longitude']=-73.4679

In [85]:
opt_flights.columns

Index(['mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'dest_airport_id',
       'dest', 'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out',
       'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time',
       'arr_delay', 'cancelled', 'cancellation_code', 'diverted',
       'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'flights',
       'distance', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'first_dep_time',
       'total_add_gtime', 'longest_add_gtime', 'no_name', 'ori_latitude',
       'ori_longitude', 'dest_latitude', 'dest_longitude', 'fl_date'],
      dtype='object')

In [4]:
path='/Users/carlyfennell/DataScience/data_bootcamp/data/'

In [5]:
#read in weather info Dataframe
A_W=pd.read_csv(path+'agg_weath_10_26.csv')
A_W=A_W.drop('Unnamed: 0',axis=1)

In [86]:
A_W[['latitude','longitude']].iloc[10:14]

     latitude  longitude
10  26.919414 -81.993028
11  26.919414 -81.993028
12  29.647149 -95.276926
13  29.647149 -95.276926

In [6]:
column_types={'mkt_carrier_fl_num': 'uint16', 'op_unique_carrier': 'category', 'tail_num': 'category', 'op_carrier_fl_num': 'uint16', 'origin_airport_id': 'uint16', 'origin': 'category', 'dest_airport_id': 'uint16', 'dest': 'category', 'crs_dep_time': 'uint16', 'dep_time': 'float32'}

In [7]:
column_types

{'mkt_carrier_fl_num': 'uint16',
 'op_unique_carrier': 'category',
 'tail_num': 'category',
 'op_carrier_fl_num': 'uint16',
 'origin_airport_id': 'uint16',
 'origin': 'category',
 'dest_airport_id': 'uint16',
 'dest': 'category',
 'crs_dep_time': 'uint16',
 'dep_time': 'float32'}

In [9]:
opt_flights= pd.read_csv(path+'df_flights.csv',dtype=column_types,parse_dates=['fl_date'],infer_datetime_format=True)

/opt/anaconda3/envs/bootcamp_env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

NameError: name 'mem_usage' is not defined

In [10]:
opt_flights.shape

(15927485, 41)

In [30]:
opt_flights=opt_flights.drop('Unnamed: 0',axis=1)

# Stopped here for now

explanation for lat/lon closest to point code
https://stackoverflow.com/questions/41336756/find-the-closest-latitude-and-longitude

In [180]:
sqrt(50)

7.0710678118654755

In [11]:
#combining lat/long so that I can ensure they stay together when I search for unique values
combo_=[]
for i in range(len(A_W)):
    combo_.append((A_W['latitude'][i],A_W['longitude'][i],A_W['origin'][i]))
A_W['combo']=combo_
len(A_W['combo'].unique())

22

A_W.columns

In [12]:
opt_flights['fl_date']=opt_flights['fl_date'].astype('datetime64[ns]')
opt_flights['month']=opt_flights['fl_date'].dt.month

In [13]:
opt_flights['month'].unique()

array([ 5,  2,  9,  4,  7,  3,  1,  8, 10, 11,  6, 12])

In [14]:
#initialize month dictionary
values=np.arange(1,13)
keys=list(A_W['period'].unique())
month_dict=dict(zip(keys, values))
month_dict

{'Jan': 1,
 'Feb': 2,
 'Mar': 3,
 'Apr': 4,
 'May': 5,
 'Jun': 6,
 'Jul': 7,
 'Aug': 8,
 'Sep': 9,
 'Oct': 10,
 'Nov': 11,
 'Dec': 12}

In [16]:
len(A_W)

264

In [17]:
#Add month number column (convert from abbrev)
month_=[]
for i in range(len(A_W)):
    month_.append(month_dict[A_W['period'][i]])

In [18]:
A_W['month']=month_

In [19]:
A_W.head()

,wdir,period,temp,maxt,visibility,wspd,datetimeStr,heatindex,cloudcover,mint,...,dew,humidity,wgust,precipcover,windchill,latitude,longitude,origin,combo,month
0,139.98,Jan,60.4,83.9,9.3,30.0,1900-01-01T00:00:00-05:00,85.6,32.1,30.8,...,50.1,71.73,44.7,4.50,21.0,26.919414,-81.993028,PGD,"(26.9194137, -81.9930281031229, PGD)",1
1,127.03,Feb,71.1,89.0,8.8,21.9,1900-02-01T00:00:00-05:00,90.3,38.8,43.1,...,62.1,75.77,34.4,2.53,40.5,26.919414,-81.993028,PGD,"(26.9194137, -81.9930281031229, PGD)",2
2,162.74,Mar,67.1,89.0,9.3,30.0,1900-03-01T00:00:00-05:00,88.3,26.1,38.9,...,54.4,67.86,43.6,3.36,33.9,26.919414,-81.993028,PGD,"(26.9194137, -81.9930281031229, PGD)",3
3,167.84,Apr,74.0,91.1,9.5,31.1,1900-04-01T00:00:00-05:00,94.3,29.2,50.1,...,61.0,67.30,53.2,2.22,NaN,26.919414,-81.993028,PGD,"(26.9194137, -81.9930281031229, PGD)",4
4,121.90,May,77.7,95.1,9.5,25.3,1900-05-01T00:00:00-05:00,99.9,37.2,56.9,...,66.8,72.16,45.9,10.75,NaN,26.919414,-81.993028,PGD,"(26.9194137, -81.9930281031229, PGD)",5

In [20]:
opt_flights.shape

(15927485, 42)

In [21]:
weather_vars=['wdir_ori', 'period_ori', 'temp_ori', 'maxt_ori', 'visibility_ori', 'wspd_ori',
       'heatindex_ori', 'cloudcover_ori', 'mint_ori', 'precip_ori', 'snowdepth_ori',
       'sealevelpressure_ori', 'dew_ori', 'humidity_ori', 'wgust_ori', 'precipcover_ori',
       'windchill_ori','wdir_dest', 'period_dest', 'temp_dest', 'maxt_dest', 'visibility_dest', 'wspd_dest',
       'heatindex_dest', 'cloudcover_dest', 'mint_dest', 'precip_dest', 'snowdepth_dest',
       'sealevelpressure_dest', 'dew_dest', 'humidity_dest', 'wgust_dest', 'precipcover_dest',
       'windchill_dest']

In [22]:
len(weather_vars)

34

In [26]:
#adding columns in flights test dataframe that have empty values to be filled with info from A_W
for par in weather_vars:
    opt_flights[par]=None

NEED TO ASSIGN VALUES FOR WEATHER BASED ON A_W.

First, check lat lon for row in flights_df and determine which unique city in A_W is closest (22 available options)

Once this is done, find out which month the flights_df is from and assign corresponding weather values to that row based on the month.

# Test loop that will run for 1 value

In [31]:
from math import cos, asin, sqrt

def distance(lat1, lon1, lat2, lon2):
    p = 0.017453292519943295
    a = 0.5 - cos((lat2-lat1)*p)/2 + cos(lat1*p)*cos(lat2*p) * (1-cos((lon2-lon1)*p)) / 2
    return 12742 * asin(sqrt(a))

def closest(data, v):
    return min(data, key=lambda p: distance(v['lat'],v['lon'],p['lat'],p['lon']))

In [81]:
## EXAMPLE
# tempDataList = [{'lat': 39.7612992, 'lon': -86.1519681}, 
#                 {'lat': 39.762241,  'lon': -86.158436 }, 
#                 {'lat': 39.7622292, 'lon': -86.1578917}]

# v = {'lat': 39.7622290, 'lon': -86.1519750}
# print(closest(tempDataList, v))

In [32]:
A_W['combo'].unique()[0][2]

'PGD'

In [33]:
tempDataList=[]
for i in range(len(list(A_W['combo'].unique()))):
    tempDataList.append({'lat':A_W['combo'].unique()[i][0],'lon':A_W['combo'].unique()[i][1],'org':A_W['combo'].unique()[i][2]})

In [34]:
print(closest(tempDataList,{'lat': 39.7622290, 'lon': -86.1519750}))

{'lat': 43.590338, 'lon': -79.645729, 'org': 'ONT'}

In [35]:
opt_flights[['ori_latitude','ori_longitude','origin']].iloc[-5::]

          ori_latitude  ori_longitude origin
15927480      37.61900     -122.37484    SFO
15927481      33.94254     -118.40807    LAX
15927482      37.61900     -122.37484    SFO
15927483      33.94254     -118.40807    LAX
15927484      37.61900     -122.37484    SFO

In [36]:
tempDataList

[{'lat': 26.9194137, 'lon': -81.9930281031229, 'org': 'PGD'},
 {'lat': 29.64714905, 'lon': -95.27692608634595, 'org': 'HOU'},
 {'lat': 38.95226625, 'lon': -77.45342297783296, 'org': 'IAD'},
 {'lat': 43.590338, 'lon': -79.645729, 'org': 'ONT'},
 {'lat': 20.89527825, 'lon': -156.4328644795689, 'org': 'OGG'},
 {'lat': 59.8474657, 'lon': 17.63105350585749, 'org': 'SGU'},
 {'lat': 49.88527, 'lon': 2.80813, 'org': 'FAY'},
 {'lat': 52.52183095, 'lon': 13.363127119018849, 'org': 'BMI'},
 {'lat': 36.638391999999996, 'lon': 127.69611880000001, 'org': 'SAN'},
 {'lat': 46.56681015, 'lon': -120.53679819122014, 'org': 'YKM'},
 {'lat': 42.403608399999996, 'lon': -96.3836488, 'org': 'SUX'},
 {'lat': 43.2768745, 'lon': 0.092596, 'org': 'BUR'},
 {'lat': 41.31116815, 'lon': -8.453010682764061, 'org': 'STS'},
 {'lat': 45.670508899999994, 'lon': 24.182296899999997, 'org': 'COD'},
 {'lat': 15.510172400000002, 'lon': -12.850290199999998, 'org': 'MGM'},
 {'lat': 26.8106778, 'lon': 80.89093790000003, 'org': 'MKG'},
 {'lat': 12.91127585, 'lon': 77.60456543431181, 'org': 'BTM'},
 {'lat': 35.000074, 'lon': 104.999927, 'org': 'GPT'},
 {'lat': 33.94216754999999, 'lon': -118.42137629872809, 'org': 'LAX'},
 {'lat': 31.9420729, 'lon': 35.22244170000001, 'org': 'BET'},
 {'lat': 38.840121999999994, 'lon': 40.646145000000004, 'org': 'DIK'},
 {'lat': 34.0932395, 'lon': 35.6482127, 'org': 'IPT'}]

In [37]:
#### THIS TEST SEEMS TO BE WORKING
#for i in range(test_df):
for i in range(2):
    print(closest(tempDataList,{'lat':opt_flights['ori_latitude'][i],'lon':opt_flights['ori_longitude'][i]}))

{'lat': 33.94216754999999, 'lon': -118.42137629872809, 'org': 'LAX'}
{'lat': 33.94216754999999, 'lon': -118.42137629872809, 'org': 'LAX'}

#saved to dataframe
pd.DataFrame(tempDataList).to_csv(path+'weather_dict.csv')

In [38]:
opt_flights.columns

Index(['mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'dest_airport_id',
       'dest', 'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out',
       'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time',
       'arr_delay', 'cancelled', 'cancellation_code', 'diverted',
       'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'flights',
       'distance', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'first_dep_time',
       'total_add_gtime', 'longest_add_gtime', 'no_name', 'ori_latitude',
       'ori_longitude', 'dest_latitude', 'dest_longitude', 'fl_date', 'month',
       'wdir_ori', 'period_ori', 'temp_ori', 'maxt_ori', 'visibility_ori',
       'wspd_ori', 'heatindex_ori', 'cloudcover_ori', 'mint_ori', 'precip_ori',
       'snowdepth_ori', 'sealevelpressure_ori', 'dew_ori', 'humidity_ori',
       'wgust_ori', 'precipcover_ori', 'windchill_ori', 'wdir_dest',
       'period_dest', 'temp_dest', 'maxt_dest', 'visibility_dest', 'wspd_dest',
       'heatindex_dest', 'cloudcover_dest', 'mint_dest', 'precip_dest',
       'snowdepth_dest', 'sealevelpressure_dest', 'dew_dest', 'humidity_dest',
       'wgust_dest', 'precipcover_dest', 'windchill_dest'],
      dtype='object')

In [78]:
A_W.columns

Index(['wdir', 'period', 'temp', 'maxt', 'visibility', 'wspd', 'datetimeStr',
       'heatindex', 'cloudcover', 'mint', 'datetime', 'precip', 'snowdepth',
       'sealevelpressure', 'dew', 'humidity', 'wgust', 'precipcover',
       'windchill', 'latitude', 'longitude', 'origin', 'combo', 'month'],
      dtype='object')

In [81]:
A_W[(A_W['origin']=='LAX')&(A_W['month']==1)]

,wdir,period,temp,maxt,visibility,wspd,datetimeStr,heatindex,cloudcover,mint,...,dew,humidity,wgust,precipcover,windchill,latitude,longitude,origin,combo,month
216,155.18,Jan,59.3,87.8,8.7,31.4,1900-01-01T00:00:00-08:00,84.2,45.4,40.0,...,44.4,64.04,40.0,7.4,35.2,33.942168,-118.421376,LAX,"(33.94216754999999, -118.42137629872809, LAX)",1

In [48]:
aw_vars=['wdir', 'period', 'temp', 'maxt', 'visibility', 'wspd',
       'heatindex', 'cloudcover', 'mint', 'precip', 'snowdepth',
       'sealevelpressure', 'dew', 'humidity', 'wgust', 'precipcover',
       'windchill']

In [50]:
ori_vars=['wdir_ori', 'period_ori', 'temp_ori', 'maxt_ori', 'visibility_ori',
       'wspd_ori', 'heatindex_ori', 'cloudcover_ori', 'mint_ori', 'precip_ori',
       'snowdepth_ori', 'sealevelpressure_ori', 'dew_ori', 'humidity_ori',
       'wgust_ori', 'precipcover_ori', 'windchill_ori']

In [51]:
dest_vars=['wdir_dest',
       'period_dest', 'temp_dest', 'maxt_dest', 'visibility_dest', 'wspd_dest',
       'heatindex_dest', 'cloudcover_dest', 'mint_dest', 'precip_dest',
       'snowdepth_dest', 'sealevelpressure_dest', 'dew_dest', 'humidity_dest',
       'wgust_dest', 'precipcover_dest', 'windchill_dest']

In [82]:
A_W.loc[(A_W['origin']=='LAX')&(A_W['month']==1)][aw_vars]
#opt_flights.loc[(opt_flights['origin']=='LAX') & (opt_flights['month']==1), ori_vars]

,wdir,period,temp,maxt,visibility,wspd,heatindex,cloudcover,mint,precip,snowdepth,sealevelpressure,dew,humidity,wgust,precipcover,windchill
216,155.18,Jan,59.3,87.8,8.7,31.4,84.2,45.4,40.0,6.98,NaN,1018.8,44.4,64.04,40.0,7.4,35.2

# Create Dataframe key with 376 unique airports, and the month

len(opt_flights['ori_latitude'].unique())

len(np.arange(1,13))

import itertools
lst = range(1,13)
months_=list(itertools.chain.from_iterable(itertools.repeat(x, 376) for x in lst))
len(months_)

org_=list(opt_flights['origin'].unique())*12

len(org_)

org_lat=list(opt_flights['ori_latitude'].unique())*12
org_lon=list(opt_flights['ori_longitude'].unique())*12

print(len(org_lat))
print(len(org_lon))

weather_key=pd.DataFrame([org_,months_,org_lat,org_lon])

weather_key=weather_key.T.rename(columns={0:'origin',1:'month',2:'latitude',3:'longitude'})

weather_key.shape

weather_key.head()

aw_vars=['wdir', 'period', 'temp', 'maxt', 'visibility', 'wspd',
       'heatindex', 'cloudcover', 'mint', 'precip', 'snowdepth',
       'sealevelpressure', 'dew', 'humidity', 'wgust', 'precipcover',
       'windchill']

Add column closest airport

closest_airport=[]
for i in range(len(weather_key)):
    closest_airport.append(closest(tempDataList,{'lat':weather_key['latitude'][i],'lon': weather_key['longitude'][i]})['org'])

weather_key['closest_airport']=closest_airport

#adding columns in weather_key that have empty values to be filled with info from A_W
for par in aw_vars:
    weather_key[par]=None

weather_key.shape

weather_key.columns


# BUILD WEATHER KEY by referencing A_W weather vars

for i in range(len(weather_key)):
    weather_key.loc[(weather_key['origin']==weather_key['origin'][i]) & (weather_key['month']==weather_key['month'][i]), aw_vars]=A_W.loc[(A_W['origin']==weather_key['closest_airport'][i])&(A_W['month']==weather_key['month'][i])][aw_vars].values

In [153]:
weather_key.head()

,origin,month,latitude,longitude,wdir,period,temp,maxt,visibility,wspd,...,mint,precip,snowdepth,sealevelpressure,dew,humidity,wgust,precipcover,windchill,closest_airport
0,LAX,1,33.9425,-118.408,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,LAX
1,SFO,1,37.619,-122.375,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,LAX
2,SAN,1,32.7336,-117.19,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,LAX
3,SEA,1,47.449,-122.309,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,YKM
4,RDU,1,35.8776,-78.7875,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,IAD

#save to csv
weather_key.to_csv(path+'wkey.csv')

# try merge

In [169]:
weather_key.columns

Index(['origin', 'month', 'latitude', 'longitude', 'wdir', 'period', 'temp',
       'maxt', 'visibility', 'wspd', 'heatindex', 'cloudcover', 'mint',
       'precip', 'snowdepth', 'sealevelpressure', 'dew', 'humidity', 'wgust',
       'precipcover', 'windchill', 'closest_airport'],
      dtype='object')

In [170]:
opt_flights=opt_flights.drop(['wdir_ori', 'period_ori', 'temp_ori', 'maxt_ori', 'visibility_ori',
       'wspd_ori', 'heatindex_ori', 'cloudcover_ori', 'mint_ori', 'precip_ori',
       'snowdepth_ori', 'sealevelpressure_ori', 'dew_ori', 'humidity_ori',
       'wgust_ori', 'precipcover_ori', 'windchill_ori', 'wdir_dest',
       'period_dest', 'temp_dest', 'maxt_dest', 'visibility_dest', 'wspd_dest',
       'heatindex_dest', 'cloudcover_dest', 'mint_dest', 'precip_dest',
       'snowdepth_dest', 'sealevelpressure_dest', 'dew_dest', 'humidity_dest',
       'wgust_dest', 'precipcover_dest', 'windchill_dest'],axis=1)

In [171]:
opt_flights.columns

Index(['mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'dest_airport_id',
       'dest', 'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out',
       'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time',
       'arr_delay', 'cancelled', 'cancellation_code', 'diverted',
       'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'flights',
       'distance', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'first_dep_time',
       'total_add_gtime', 'longest_add_gtime', 'no_name', 'ori_latitude',
       'ori_longitude', 'dest_latitude', 'dest_longitude', 'fl_date', 'month'],
      dtype='object')

In [172]:
opt_flights.shape

(15927485, 41)

In [174]:
#new_df = pd.merge(A_df, B_df,  how='left', left_on=['A_c1','c2'], right_on = ['B_c1','c2'])
new_df=pd.merge(opt_flights,weather_key[['origin','month', 'wdir', 'temp',
       'maxt', 'visibility', 'wspd', 'heatindex', 'cloudcover', 'mint',
       'precip', 'snowdepth', 'sealevelpressure', 'dew', 'humidity', 'wgust',
       'precipcover', 'windchill', 'closest_airport']],how='outer',on=['origin','month'])

In [182]:
new_df.iloc[50000:50010]

,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,dest_airport_id,dest,crs_dep_time,dep_time,...,mint,precip,snowdepth,sealevelpressure,dew,humidity,wgust,precipcover,windchill,closest_airport
50000,1292.0,DL,N895DN,1292.0,14771.0,SFO,11433.0,DTW,2154.0,2157.0,...,51.1,0.81,NaN,1013.9,52.6,72.71,40.3,2.22,NaN,LAX
50001,1327.0,DL,N955AT,1327.0,14771.0,SFO,12892.0,LAX,1515.0,1515.0,...,51.1,0.81,NaN,1013.9,52.6,72.71,40.3,2.22,NaN,LAX
50002,1380.0,DL,N806DN,1380.0,14771.0,SFO,13487.0,MSP,1035.0,1132.0,...,51.1,0.81,NaN,1013.9,52.6,72.71,40.3,2.22,NaN,LAX
50003,1393.0,DL,N858DZ,1393.0,14771.0,SFO,13487.0,MSP,1535.0,1611.0,...,51.1,0.81,NaN,1013.9,52.6,72.71,40.3,2.22,NaN,LAX
50004,1446.0,DL,N593NW,1446.0,14771.0,SFO,10397.0,ATL,2300.0,2302.0,...,51.1,0.81,NaN,1013.9,52.6,72.71,40.3,2.22,NaN,LAX
50005,1467.0,DL,N717TW,1467.0,14771.0,SFO,12478.0,JFK,625.0,620.0,...,51.1,0.81,NaN,1013.9,52.6,72.71,40.3,2.22,NaN,LAX
50006,1470.0,DL,N376DA,1470.0,14771.0,SFO,14747.0,SEA,1421.0,1449.0,...,51.1,0.81,NaN,1013.9,52.6,72.71,40.3,2.22,NaN,LAX
50007,1536.0,DL,N849DN,1536.0,14771.0,SFO,14869.0,SLC,959.0,1032.0,...,51.1,0.81,NaN,1013.9,52.6,72.71,40.3,2.22,NaN,LAX
50008,5696.0,CP,N602CZ,5696.0,14771.0,SFO,14747.0,SEA,1805.0,1859.0,...,51.1,0.81,NaN,1013.9,52.6,72.71,40.3,2.22,NaN,LAX
50009,5699.0,CP,N623CZ,5699.0,14771.0,SFO,14747.0,SEA,1558.0,1733.0,...,51.1,0.81,NaN,1013.9,52.6,72.71,40.3,2.22,NaN,LAX

# Re-build flights table with weather

In [ ]:
# REBUILD Flights by referencing WEATHER KEY 

for i in range(len(opt_flights)):
    opt_flights.loc[(weather_key['origin']==weather_key['origin'][i]) & (weather_key['month']==weather_key['month'][i]), aw_vars]=A_W.loc[(A_W['origin']==weather_key['closest_airport'][i])&(A_W['month']==weather_key['month'][i])][aw_vars].values

for i in range(2):
    print(closest(tempDataList,{'lat':opt_flights['ori_latitude'][i],'lon':opt_flights['ori_longitude'][i]}))
    opt_flights